<h1>Edit Comment</h1>
<div style="display: flex; flex-direction: column;align-items: center">
    <%= render "comments/form" %>
    <%= link_to "Back to Article", article_path(@article), class: "btn"%>
</div>
